.bg {
    min-height: 100vh;
    background: url("3d-rendering-financial-neon-bull.jpg.jpeg") no-repeat center / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


.glass {
    width: 700px;
    height: 200%;
    border-radius: 30px;

    background: rgba(255, 255, 255, 0.109);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);

    border: 2px solid rgba(240, 232, 239, 0.875);
    box-shadow: 0 8px 50px rgba(236, 236, 238, 0.926);

    color: white;
    padding: 25px;

}

.heading {
    font-size: 32px;
    font-weight: bold;
    margin-left: 50px;
}

.content {
    font-size: 23px;
    margin-left: 60px;
}

.onoff-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;

    border-radius: 12px;
    border: 1px solid rgba(237, 231, 231, 0.93);

    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    color: white;
    cursor: pointer;
    margin-left: 60%;

     transition: 0.3s ease;
}

.onoff-btn:hover {
   transform: scale(1.1);
   background-color:rgba(28, 136, 163, 0.769);
}

.content li {
    display: flex;
    align-items: center;
}

.content li span {
    flex: 1;
}

.but{
    margin-left: 100px;

}

/* ON state */
.onoff-btn.on {
    font-size: 14px;
    font-weight: bold;
    background:  rgba(231, 75, 184, 0.942);
    border-color: rgba(231, 237, 231, 0.863);
    box-shadow: 0 8px 20px rgba(236, 236, 238, 0.747);

}

@media (max-width: 768px) {
    .glass {
        width: 90%;
        padding: 15px;
    }

    .heading {
        font-size: 24px;
        margin-left: 20px;
    }

    .content {
        font-size: 18px;
        margin-left: 20px;
    }

    .onoff-btn {
        margin-left: 20px;
    }
}

